<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pwr.city_guide.i242450.mams_city_guide">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
